<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="IsLogedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserRole" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="BLOBconnectionString" serializeAs="String">
                <value>
                DefaultEndpointsProtocol=https;AccountName=storageforfishapp;AccountKey=iJLkTArOZeBCHKE6WBPP91h5hBcHYBJlgxxt9BUpCzv7UWKoVvJz++jLDbuSqBaTTNKHoQtzVF1n+AStVrk5RQ==;EndpointSuffix=core.windows.net
            </value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </WpfApp1.Properties.Settings>
    </userSettings>
</configuration>